body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
    .name{
      font-size: 30px;
      font-weight: bold;
    }
    .move-icon{
      height: 50px;
     
    }
    .move-button{
      background-color: rgb(25, 25, 25);
      border: 2.5px solid white;
      border-radius: 50%;
      padding: 20px;
      margin: 5px;
      cursor: pointer;
      width: 120px;
      height: 120px;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px ;
    }

    .score{
      margin-top: 60px;
    }
    .reset-button{
      border: none;
      background-color: white;
      font-size: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
    }
  